<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Variable.html</h1>
    {% comment "" %}
    <h2>Hello {{first_name | lower | capfirst}} {{last_name | lower | capfirst}}</h2>
    <ul>
        {% for item in some_list %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
    {% if user_logged_in %}
    <h1>Welocome {{first_name | capfirst}}!</h1>
    {% endif %}
    {% endcomment %}
    
</body>
</html>